html{
    text-align: center;  
}
body{
    padding:0px;
    margin:0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    color: white;
    background-image: linear-gradient(rgb(0, 89, 116),rgb(149, 167, 173));
}
.title{
    padding:1rem;
    margin:0px;
}
.input-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;  
}
.input{
    padding:1rem;
    border-radius: .5rem;
    width:fit-content;
}
.display-wrapper{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.display{
    background-color: white;
    color: black;
    width:fit-content;
    border: solid black 1px;
    padding:0rem;
    padding-left:3rem;
    padding-right:3rem;
    border-radius: .5rem;
}
.statsBox{
    font-size: 15px;
}
input{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    height:1.5rem;
    background-image:none;
    border:none;
    border-radius: .25rem;
}
label,input,select,button{
    margin:.5rem;
}
:hover.submitBtn{
    background-color: rgb(187, 187, 187);
}
.submitBtn{
    color:rgb(65, 65, 65);
    border:none;
    border-radius: .5rem;
    outline: 2px rgb(65,65,65) solid;
    padding:.5rem;
}
.result{
    padding:.25rem;
}
